.collection-item{
  width: 40%;
  margin: 0 auto !important;
  display: flex;
  justify-content: space-between;
}
.collection-item span{
  margin-left: 5px;
}
.input-field {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}